@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');

body{
  font-family: 'Cute Font', cursive;
  
}

h1{
  font-size:30px;
   color:#FAD6E7;
}

p {
   font-style: Underline;
   font-size: 20px;
   color: #FAD6E7;
}

body { 
  background-color:#DFFBFC;
}

h3 {
 
}

