@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');

body{
  font-family: 'Cute Font', cursive;
  
}

h1{
  font-size:30px;
   color:#FAD6E7;
}

p {
   font-style: Underline;
   font-size: 20px;
   color: #FAD6E7;
}

body { 
  background-color:#DFFBFC;
}

.hobbyheading {
  color: #EDDFFC 
    
}
.movies {
  display:block;
  float:right;
  width:49%;
}

.navbar {
  overflow:hidden;
  background-color:#FDFDAE;
}

.navbar a {
  float:left;
  display:block;
  color:#FDAEE9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color:#FDAEB8;
    color: #AEBEFD;
}
  
 

